.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-around;
  justify-items: center;
}

.grid-item{
  margin-left: 10px;
}

.center{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
